<div class="homepage">

<h1>Welcome to EventFindr 2.0!</h1>

<h2>Search events in your city!</h2>

</div>




<div class='button'>
  <%= link_to 'Login', '/login' %>
</div>
<div class='button'>
  <%= link_to 'Sign Up', '/users/new' %>
</div>
