
<h1>Welcome to the [App Name]</h1>
<p> Info about our application</p>


<div class='button'>
  <%= link_to 'Login', '/login' %>
</div>
<div class='button'>
  <%= link_to 'Sign Up', '/users/new' %>
</div>
