
<h1>Welcome to the Move&Meet</h1>

<h2>Make new friends before you next big move</h2>

<h2> Search for new events in a new city! </h2>

<h2> See events in your city! </h2>

<h2> Attend an event! </h2>

<h2> Host an event! </h2>


<div class='button'>
  <%= link_to 'Login', '/login' %>
</div>
<div class='button'>
  <%= link_to 'Sign Up', '/users/new' %>
</div>
