<!-- credit for snippet below: https://startbootstrap.com/snippets/video-header/ -->

<div class="jumbotron">

  <header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4"> -->
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">CityExplorer</h1>
          <p class="lead mb-0">Explore A New City Today</p>
        </div>
      </div>
    </div>
  </header>

  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
        </div>
      </div>
    </div>
  </section>

  <h1 class="display-4">Welcome to CityExplorer</h1>
  <p class="lead">Find events in your city and meet new friends!</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="/users/new" role="button">Sign Up</a>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
