
<h1>Events in <%= @city.name %></h1>

<% if @events != nil %>
  <% @events.each do |event|%>
    <li><%=link_to event.name, event%></li>
  <%end%>
<%else %>
  <p> <%= @message %> </p>
<%end%>


<br>
<%= link_to "Return to Profile", @current_user%>
