// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
  text-align: center;
}

.title{
  text-align: center;
  color: grey;
  text-decoration: none;
  font-size: 80px
}
.sub_title{
  text-align: center;
  color: #FF7373;
  text-decoration: none;
  font-size: 35px
}

.form_fields_right{
  text-align: right;
  color: #FF7373;
  text-decoration: none;
  font-size: 22px
}

.form_fields_left{
  text-align: left;
  color: black;
  text-decoration: none;
  font-size: 13px
}

.padding{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
}
