// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  color: blue;
  font-family: avenir
}
p{
  color: green;
  font-family: lucida
}
.button{
  background-color: #668FD7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: avenir;
  border-radius: 8px;
}

//using grid frameworks might be useful for images
//or multiple elements

//use semantic ui?
