// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.center {
  text-align: center;
}

.title{
  text-align: center;
  color: grey;
  text-decoration: none;
  font-size: 80px
}
.sub_title{
  text-align: center;
  color: #FF7373;
  text-decoration: none;
  font-size: 35px
}

.sub_title_small{
  text-align: center;
  color: #FF7373;
  text-decoration: none;
  font-size: 30px
}
